@import "../../style/themes/huiyan";

$message-prefix-cls: #{$vis-prefix}-message;

.#{$message-prefix-cls} {
    position: fixed;
    z-index: 9999;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0) ;
    min-width: 170px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    animation: slideDown .3s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translate(-50%, -50px) ;
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0) ;
    }
}