@import "../../style/themes/huiyan";

$message-prefix-cls: #{$vis-prefix}-message;

.#{$message-prefix-cls} {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    height: 10px;
    line-height: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 10px;
    animation: slideDown .2s linear;
}

@keyframes slideDown {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: 20px;
    }
}