@import "../color/colors";

// The prefix to use on all css classes from vis-ui.
$vis-prefix: visui;

// -------- Colors -----------
$deep-color: $huiyan-brand-dark-blue !default;

$secondary-color: $huiyan-blue !default;

$primary-color: $huiyan-brand-blue !default;
$primary-color-w1: $huiyan-brand-blue-w10 !default;
$primary-color-w3: $huiyan-brand-blue-w30 !default;
$primary-color-w8: $huiyan-brand-blue-w80 !default;
$primary-color-w9: $huiyan-brand-blue-w90 !default;
$primary-color-b1: $huiyan-brand-blue-b10 !default;

$danger-color: $huiyan-orange !default;
$danger-color-w1: $huiyan-orange-w10 !default;
$danger-color-w3: $huiyan-orange-w30 !default;
$danger-color-w4: $huiyan-orange-w40 !default;
$danger-color-w6: $huiyan-orange-w60 !default;
$danger-color-w8: $huiyan-orange-w80 !default;
$danger-color-w9: $huiyan-orange-w90 !default;

$success-color: $huiyan-green !default;
$success-color-w1: $huiyan-green-w10 !default;
$success-color-w2: $huiyan-green-w20 !default;
$success-color-w3: $huiyan-green-w30 !default;
$success-color-w4: $huiyan-green-w40 !default;
$success-color-w5: $huiyan-green-w50 !default;
$success-color-w6: $huiyan-green-w60 !default;
$success-color-w7: $huiyan-green-w70 !default;
$success-color-w8: $huiyan-green-w80 !default;
$success-color-w9: $huiyan-green-w90 !default;

// -------- Paddings -----------
$padding-lg: 24px !default;
$padding-md: 16px !default;
$padding-sm: 12px !default;
$padding-xs: 8px !default;

// ---TEXT---
$font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft YaHei" !default;
$font-size-base: 14px !default;
$font-size-sm: 12px !default;
$text-color: $gray !default;
$body-bg-color: $white !default;

// ---LINK---
$link-color: $primary-color !default;
$link-hover-color: $primary-color-w1 !default;
$link-active-color: $primary-color-b1 !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

// ---MENU---
$menu-color: $deep-color !default;

// ---BORDER---
$border-width: 1px !default;
$border-style: solid !default;
$border-radius-base: 2px !default;
$border-radius-lg: 100px !default;
$border-radius-round: 50% !default;

// ---ICON---
$icon-color: $primary-color !default;

// ---BUTTON---
$btn-font-size-base: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-height-base: 30px !default;
$btn-height-lg: 34px !default;
$btn-height-sm: 26px !default;
$btn-padding-base: 0 $padding-md - 1px !default;
$btn-padding-lg: 0 $padding-lg * 2 !default;
$btn-padding-sm: 0 $padding-sm !default;
$btn-border-radius: $border-radius-lg !default;
$btn-margin: $padding-xs !default;

$btn-primary-color: #fff !default;
$btn-primary-border: $primary-color !default;
$btn-primary-border-hover: $primary-color-w1 !default;
$btn-primary-border-active: $primary-color-b1 !default;
$btn-primary-bg: $primary-color !default;
$btn-primary-bg-hover: $primary-color-w1 !default;
$btn-primary-bg-active: $primary-color-b1 !default;

$btn-default-color: $primary-color !default;
$btn-default-bg: $primary-color-w8 !default;
$btn-default-border: $primary-color-w3 !default;
$btn-default-border-hover: $primary-color !default;
$btn-default-border-active: $primary-color-b1 !default;

$btn-ghost-color-default: #666 !default;
$btn-ghost-bg: transparent !default;
$btn-ghost-border: #999 !default;
$btn-ghost-color: $btn-primary-color !default;
$btn-ghost-bg-hover: $btn-primary-bg-hover !default;
$btn-ghost-bg-active: $btn-primary-bg-active !default;

$btn-danger-color: $danger-color !default;
$btn-danger-bg: $danger-color-w9 !default;
$btn-danger-border: $danger-color-w3 !default;
$btn-danger-border-hover: $danger-color-w1 !default;
$btn-danger-border-active: $danger-color !default;
$btn-danger-disabled: $danger-color-w8 !default;

$btn-success-color: $success-color-w2 !default;
$btn-success-bg: $success-color-w9 !default;
$btn-success-border: $success-color-w5 !default;
$btn-success-border-hover: $success-color-w4 !default;
$btn-success-border-active: $success-color-w3 !default;
$btn-success-disabled: $success-color-w7 !default;

$btn-disabled-color: $white !default;
$btn-disabled-bg: $primary-color-w9 !default;
$btn-disabled-border: $primary-color-w8 !default;

$btn-group-margin: 0 0 $padding-xs !default;

// ---RADIO---
$radio-width-base: 16px !default;
$radio-height-base: 16px !default;
$radio-border-radius: $border-radius-round !default;
$radio-font-size-base: $font-size-sm !default;
$radio-font-size-lg: $font-size-base !default;
$radio-margin-sapce: $padding-xs !default;
$radio-margin-between: $padding-sm !default;
$radio-margin-lg: $padding-md !default;

$radio-text-color: #999 !default;
$radio-border-color: #E9E9E9 !default;
$radio-select-color: $primary-color !default;
$radio-disabled-color: #E9E9E9 !default;
$radio-disabled-bg: #F5F5F5 !default;

$radio-btn-height-base: 30px !default;
$radio-btn-height-lg: 34px !default;
$radio-btn-height-sm: 26px !default;
$radio-btn-border-radius: $border-radius-base !default;

$radio-btn-select-border: $primary-color-w3 !default;
$radio-btn-select-bg: $primary-color-w8 !default;
$radio-btn-select-color: $primary-color !default;
$radio-btn-disabled-bg: #F5F5F5 !default;

// ---CHECKBOX---
$checkbox-width-base: 16px !default;
$checkbox-height-base: 16px !default;
$checkbox-border-radius: $border-radius-base !default;
$checkbox-font-size-base: $font-size-sm !default;
$checkbox-font-size-lg: $font-size-base !default;
$checkbox-margin-sapce: $padding-xs !default;
$checkbox-margin-between: $padding-sm !default;
$checkbox-margin-lg: $padding-md !default;

$checkbox-text-color: #999 !default;
$checkbox-border-color: #E9E9E9 !default;
$checkbox-select-color: $primary-color !default;
$checkbox-disabled-color: #E9E9E9 !default;
$checkbox-disabled-bg: #F5F5F5 !default;

// ---DROPDOWN---
$dropdown-font-size-base: $font-size-sm !default;
$dropdown-text-color: #999 !default;
$dropdown-border-color: #E9E9E9 !default;
$dropdown-number-color: $primary-color !default;
$dropdown-margin-base: $padding-sm !default;
$dropdown-margin-sm: $padding-xs !default;

// ---CHECKBOX LIST---
$checkboxlist-font-size-base: $font-size-sm !default;
$checkboxlist-text-color: #999 !default;
$checkboxlist-border-color: #E9E9E9 !default;
$checkboxlist-number-color: $primary-color !default;
$checkboxlist-margin-base: $padding-sm !default;
$checkboxlist-margin-sm: $padding-xs !default;

// ---LIST---
$list-font-size-base: $font-size-sm !default;