@import "../../style/themes/huiyan";

$radiogrp-prefix-cls: #{$vis-prefix}-radio-group;
$radiobtn-prefix-cls: #{$vis-prefix}-radio-btn;
$radiotext-prefix-cls: #{$vis-prefix}-radio-text;
$radio-prefix-cls: #{$vis-prefix}-radio;

.#{$radio-prefix-cls} {
    position: relative;
    &-original {
        width: 0;
        height: 0;
        display: none;
    }

    &-inner {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: $radio-width-base;
        height: $radio-height-base;
        box-sizing: border-box;
        margin-right: $radio-margin-space;
        border-radius: $radio-border-radius;
        border: 1px solid $radio-border-color;
        &:after {
            position: absolute;
            content: " ";
            width: 8px;
            height: 8px;
            left: 3px;
            top: 3px;
            display: table;
            border:none;
            border-radius: $radio-border-radius;
            background-color: $radio-select-color;
            opacity: 0;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all .2s cubic-bezier(.78,.14,.15,.86);
            transition: all .2s cubic-bezier(.78,.14,.15,.86);
        }
    }

    &-label {
        display: inline-block;
        vertical-align: middle;
        user-select: none;
    }

    &-wrapper {
        display: inline-block;
        font-size: $radio-font-size-base;
        color: $radio-text-color;
        margin-right: $radio-margin-between;
        cursor: pointer;
        &:hover {
            .#{$radio-prefix-cls}-inner {
                border-color: $radio-select-color;
            }
        }
        &-disabled {
            cursor: not-allowed;
            &:hover {
                .#{$radio-prefix-cls}-inner {
                    border-color: $radio-disabled-color;
                }
            }
        }
    }

    &-checked {
        .#{$radio-prefix-cls}-inner {
            border-color: $radio-select-color;
            &:after {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
                -webkit-transition: all .2s cubic-bezier(.78,.14,.15,.86);
                transition: all .2s cubic-bezier(.78,.14,.15,.86);
            }
        }
    }

    &-disabled {
        .#{$radio-prefix-cls}-inner {
            border-color: $radio-disabled-color;
            background-color: $radio-disabled-bg;
            &:after {
                background-color: $radio-disabled-color;
            }
        }
    }
}

.#{$radiogrp-prefix-cls} {
    margin: 0 0 $radio-margin-space;
}

.#{$radiobtn-prefix-cls} {
    width: 0;
    height: 0;
    display: none;
    &-original {
        width: 0;
        height: 0;
        display: none;
    }

    &-wrapper {
        position: relative;
        display: inline-block;
        font-size: $radio-font-size-base;
        color: $radio-text-color;
        height: $radio-btn-height-base;
        line-height: $radio-btn-height-base;
        margin: 0 0 0 -1px;
        padding: 0 $radio-margin-between;
        cursor: pointer;
        border: 1px solid $radio-border-color;
        border-radius: $radio-btn-border-radius;
        background: $white;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        &:hover {
            color: $radio-btn-select-color;
        }
        &-checked {
            z-index: 1;
            color: $radio-btn-select-color;
            border-color: $radio-btn-select-border;
            background: $radio-btn-select-bg;
        }
        &-disabled {
            color: $radio-disabled-color;
            border-color: $radio-disabled-color;
            background: $radio-btn-disabled-bg;
            cursor: not-allowed;
            &:hover {
                color: $radio-disabled-color;
            }
        }
    }

    &-large {
        font-size: $radio-font-size-lg;
        height: $radio-btn-height-lg;
        line-height: $radio-btn-height-lg;
        padding: 0 $radio-margin-lg;
    }

    &-small {
        height: $radio-btn-height-sm;
        line-height: $radio-btn-height-sm;
        padding: 0 $radio-margin-space;
    }
}

.#{$radiotext-prefix-cls} {
    width: 0;
    height: 0;
    display: none;
    &-original {
        width: 0;
        height: 0;
        display: none;
    }

    &-wrapper {
        position: relative;
        display: inline-block;
        font-size: $radio-font-size-base;
        color: $radio-text-color;
        margin: 0 $radio-margin-space;
        cursor: pointer;
        padding: 0 $radio-margin-space;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        &:hover {
            color: $radio-select-color;
        }
        &-checked {
            z-index: 1;
            color: $radio-select-color;
        }
        &-disabled {
            color: $radio-disabled-color;
            cursor: not-allowed;
            &:hover {
                color: $radio-disabled-color;
            }
        }
    }

    &-label {
        user-select: none;
    }

    &-large {
        font-size: $radio-font-size-lg;
    }
}