@import 'colorPalette';
/**
 * @file: 调色板
 * @author: junior2ran
 * @date: 2018-05-17 19:42:28
 */

// ---------common---------
// white
$white: #ffffff;

// black
$black: #000000;

// gray
$gray: #333333;

// ------brand default-------
// brand red
$default-brand-red: #F5533D;

// blue
$default-blue: #627CBE;

// blue gray
$default-blue-gray: #8890A4;

// yellow
$default-yellow: #F39800;

// red
$default-red: #E91F1F;

// green
$default-green: #8FC320;

// ------brand huiyan------
// brand blue
$huiyan-brand-blue: #5E87DB;
$huiyan-brand-blue-w10: colorPalette($huiyan-brand-blue, $white, 10);   // #6E93DE
$huiyan-brand-blue-w30: colorPalette($huiyan-brand-blue, $white, 30);   // #8EABE5
$huiyan-brand-blue-w40: colorPalette($huiyan-brand-blue, $white, 40);   // #9EB7E9
$huiyan-brand-blue-w60: colorPalette($huiyan-brand-blue, $white, 60);   // #BECFF0
$huiyan-brand-blue-w80: colorPalette($huiyan-brand-blue, $white, 80);   // #DEE7F7
$huiyan-brand-blue-w90: colorPalette($huiyan-brand-blue, $white, 90);   // #EEF2FB

$huiyan-brand-blue-b10: colorPalette($huiyan-brand-blue, $black, 10);   // #5479C4
$huiyan-brand-blue-b30: colorPalette($huiyan-brand-blue, $black, 30);   // #415E99
$huiyan-brand-blue-b40: colorPalette($huiyan-brand-blue, $black, 40);   // #385183
$huiyan-brand-blue-b60: colorPalette($huiyan-brand-blue, $black, 60);   // #253657
$huiyan-brand-blue-b80: colorPalette($huiyan-brand-blue, $black, 80);   // #121B2B
$huiyan-brand-blue-b90: colorPalette($huiyan-brand-blue, $black, 90);   // #090D16

// brand dark blue
$huiyan-brand-dark-blue: #1A284D;
$huiyan-brand-dark-blue-w10: colorPalette($huiyan-brand-dark-blue, $white, 10);

// blue
$huiyan-blue: #4E6DF1;

// orange
$huiyan-orange: #FF6C13;
$huiyan-orange-w10: colorPalette($huiyan-orange, $white, 10);   // #FF7A2A
$huiyan-orange-w30: colorPalette($huiyan-orange, $white, 30);   // #FF985A
$huiyan-orange-w40: colorPalette($huiyan-orange, $white, 40);   // #FFA671
$huiyan-orange-w60: colorPalette($huiyan-orange, $white, 60);   // #
$huiyan-orange-w80: colorPalette($huiyan-orange, $white, 80);   // #FFE2D0
$huiyan-orange-w90: colorPalette($huiyan-orange, $white, 90);   // #FFF0E7

// green
$huiyan-green: #67C600;
$huiyan-green-w10: colorPalette($huiyan-green, $white, 10);   // #76CB1A
$huiyan-green-w20: colorPalette($huiyan-green, $white, 20);   // #85D133
$huiyan-green-w30: colorPalette($huiyan-green, $white, 30);   // #94D64C
$huiyan-green-w40: colorPalette($huiyan-green, $white, 40);   // #A3DC66
$huiyan-green-w50: colorPalette($huiyan-green, $white, 50);   // #B3E380
$huiyan-green-w60: colorPalette($huiyan-green, $white, 60);   // #C2E899
$huiyan-green-w80: colorPalette($huiyan-green, $white, 80);   // #E1F4CC
$huiyan-green-w90: colorPalette($huiyan-green, $white, 90);   // #F0F9E6