/**
 * @file: 调色板
 * @author: junior2ran
 * @date: 2018-05-17 19:42:28
 */
// white
$white: #ffffff;

// black
$black: #000000;

// brand red
$brand-red: #F5533D;

// blue
$blue: #627CBE;
// $blue60: mix($black, $blue, 10%);

// blue gray
$blue-gray: #8890A4;

// yellow
$yellow: #F39800;

// red
$red: #E91F1F;

// green
$green: #8FC320;

// gray
$gray: #333333;