/**
 * @file: 调色板
 * @author: junior2ran
 * @date: 2018-05-17 19:42:28
 */

// brand red

 // blue
$blue: #627CBE;
$blue60: darken($blue, 60%);

// blue gray

// yellow

// red
$red: #E91F1F;

// green

// gray