@import "../../style/themes/huiyan";

$btngrp-prefix-cls: #{$vis-prefix}-btn-group;
$btn-prefix-cls: #{$vis-prefix}-btn;

.#{$btn-prefix-cls} {
    display: inline-block;
    font-size: $btn-font-size-base;
    height: $btn-height-base;
    line-height: $btn-height-base;
    border-radius: $btn-border-radius;
    padding: $btn-padding-base;
    cursor: pointer;
    outline: none;

    &-default {
        color: $btn-default-color;
        background-color: $btn-default-bg;
        border: $border-width $border-style $btn-default-border;
        &:hover {
            border-color: $btn-default-border-hover;
        }
        &:active {
            border-color: $btn-default-border-active;
        }
        &[disabled] {
            cursor: not-allowed;
            color: $btn-disabled-color;
            background-color: $btn-disabled-bg;
            border-color: $btn-disabled-border;
        }
    }

    &-primary {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border: $border-width $border-style $btn-primary-border;
        &:hover {
            border-color: $btn-primary-border-hover;
            background-color: $btn-primary-bg-hover;
        }
        &:active {
            border-color: $btn-primary-border-active;
            background-color: $btn-primary-bg-active;
        }
        &[disabled] {
            cursor: not-allowed;
            border-style: solid;
            border-color: $btn-disabled-bg;
            color: $btn-disabled-color;
            background-color: $btn-disabled-bg;
        }
    }

    &-ghost {
        color: $btn-ghost-color-default;
        background-color: $btn-ghost-bg;
        &:hover {
            color: $btn-ghost-color;
            border-color: transparent;
            background-color: $btn-ghost-bg-hover;
        }
        &:active {
            color: $btn-ghost-color;
            border-color: transparent;
            background-color: $btn-ghost-bg-active;
        }
        &[disabled] {
            cursor: not-allowed;
            color: #E9E9E9;
            background-color: #F3F4F6;
            border-color: #E9E9E9;
            border-style: solid;
        }
    }

    &-danger {
        color: $btn-danger-color;
        background-color: $btn-danger-bg;
        border: $border-width $border-style $btn-danger-border;
        &:hover {
            border-color: $btn-danger-border-hover;
        }
        &:active {
            border-color: $btn-danger-border-active;
        }
        &[disabled] {
            cursor: not-allowed;
            color: $btn-danger-disabled;
            border-color: $btn-danger-disabled;
            border-style: solid;
        }
    }

    &-success {
        color: $btn-success-color;
        background-color: $btn-success-bg;
        border: $border-width $border-style $btn-success-border;
        &:hover {
            border-color: $btn-success-border-hover;
        }
        &:active {
            border-color: $btn-success-border-active;
        }
        &[disabled] {
            cursor: not-allowed;
            color: $btn-success-disabled;
            border-color: $btn-success-disabled;
            border-style: solid;
        }
    }

    &-small {
        font-size: $btn-font-size-sm;
        height: $btn-height-sm;
        line-height: $btn-height-sm;
        padding: $btn-padding-sm;
    }

    &-large {
        height: $btn-height-lg;
        line-height: $btn-height-lg;
        padding: $btn-padding-lg;
    }

    & + & {
        margin-left: $btn-margin;
    }
}

.#{$btngrp-prefix-cls} {
    margin: $btn-group-margin;
}