@import "../../style/themes/huiyan";

$btn-prefix-cls: #{$vis-prefix}-btn;

.#{$btn-prefix-cls} {
    display: inline-block;
    font-size: $btn-font-size-base;
    height: $btn-height-base;
    line-height: $btn-height-base;
    border-radius: $btn-border-radius;
    padding: $btn-padding-base;
    cursor: pointer;

    &-default {
        color: $btn-default-color;
        background-color: $btn-default-bg;
        border: $border-width $border-style $btn-default-border;
        &:hover {
            border-color: $btn-default-border-hover;
        }
        &:active {
            border-color: $btn-default-border-active;
        }
        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
            color: $btn-disabled-color;
            background-color: $btn-disabled-bg;
            border-color: $btn-disabled-border;
        }
    }

    &-primary {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        &:hover {
            background-color: $btn-primary-bg-hover;
        }
        &:active {
            background-color: $btn-primary-bg-active;
        }
        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
            color: $btn-disabled-color;
            background-color: $btn-disabled-bg;
            border-color: $btn-disabled-border;
        }
    }

    &-small {
        font-size: $btn-font-size-sm;
        height: $btn-height-sm;
        line-height: $btn-height-sm;
        padding: $btn-padding-sm;
    }
}