@import "../../style/themes/huiyan";

$btn-prefix-cls: #{$vis-prefix}-btn;

.#{$btn-prefix-cls} {
    border: 1px solid $primary-color;

    &-danger {
        border: 1px solid $danger-color;
        background-color: $gay;
    }
}