@import "../../style/themes/huiyan";

$checkboxlist-prefix-cls: #{$vis-prefix}-checkboxlist;

.#{$checkboxlist-prefix-cls} {
    font-size: $checkboxlist-font-size-base;
    color: $checkboxlist-text-color;
    position: relative;
    display: inline-block;
    margin-bottom: $checkboxlist-margin-sm;
    margin-right: $checkboxlist-margin-base;
    & &-title-container {
        cursor: pointer;
        .#{$checkboxlist-prefix-cls}-title-text {
            vertical-align: middle;
        }
        .#{$vis-prefix}-checkbox-wrapper {
            margin-right: 0;
        }
    }
    & &-num {
        margin: 0 2px;
        color: $checkboxlist-number-color;
    }
    & &-down-container {
        position: absolute;
        z-index: 999;
        top: 20px;
        left: 0;
        border: 1px solid $checkboxlist-border-color;
        box-shadow: 0 1px 1px #ccc;
        word-break: keep-all;
        white-space: nowrap;
        background: $white;
        padding: $checkboxlist-margin-sm $checkboxlist-margin-base 2px;

        .#{$vis-prefix}-checkbox-group-item,
        .#{$vis-prefix}-radio-group-item,
        &-down-line {
            display: block;
            height: 18px;
            line-height: 18px;
            margin: 5px 0;
        }
    }
    .#{$vis-prefix}-icon {
        width: 16px;
        height: 16px;
    }
}