@import "../../style/themes/huiyan";

$modal-prefix-cls: #{$vis-prefix}-modal;

.#{$modal-prefix-cls} {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    .modal-container {
        position: absolute;
        top: 40%;
        left: 50%;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
        min-width: $modal-width-base;
        min-height: $modal-height-base;
        transform: translate(-50%, -50%);
        border-radius: $modal-border-radius;
    }
    .modal-header {
        font-size: $modal-header-font-size;
        height: $modal-header-height-base;
        line-height: $modal-header-height-base;
        border-bottom: 1px solid $modal-border-color;
        padding: 0 $modal-padding-base;
        text-align: center;
        .modal-close {
            font-size: 20px;
            margin-top: ($modal-header-height-base - 20) / 2;
            float: right;
            cursor: pointer;
        }
    }
    .modal-content {
        overflow-y: auto;
        min-height: $modal-content-height-base;
        padding: $modal-padding-base 0;
        margin: 0 $modal-padding-base;
    }
    .modal-footer {
        padding: ($modal-height-base - $modal-content-height-base - $modal-header-height-base - $btn-height-base) / 2 0;
        margin: 0 $modal-padding-base;
        border-top: 1px solid $modal-border-color;
        text-align: right;
    }

    &.hidden {
        display: none;
    }
}

.#{$modal-prefix-cls}.mini {
    .modal-container {
        min-width: $modal-mini-width-base;
        width: $modal-mini-width-base;
        height: auto;
        border-radius: $modal-mini-border-radius;
    }
    .modal-header {
        font-size: $modal-mini-header-font-size;
        height: auto;
        line-height: $modal-mini-header-height-base;
        border-bottom: 0;
        padding: 0 $modal-mini-padding-base;
        .modal-close {
            font-size: 20px;
            margin-top: ($modal-mini-header-height-base - 20) / 2;
            float: right;
            cursor: pointer;
        }
    }
    .modal-content {
        overflow-y: auto;
        height: auto;
        border-bottom: 0;
        padding: $modal-mini-padding-base 0;
        margin: 0 $modal-mini-padding-base;
    }
    .modal-footer {
        margin: 0;
        padding: 10px 20px 20px;
        border: none;
        text-align: center;
    }
}
