html body {
    padding: 0 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 10px;
}

hr {
    border-width: .6px;
    border-style: dashed;
    border-color: #9EB7E9;
}

a {
    color: #dd6666;
    &:hover {
        color: #ee3333;
    }
}